{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content%}
<!-- banner -->
{% include "includes/crums.html" %}
  <!-- banner -->
  
  
  <div class="container">
  <div class="spacer agents">
  
  <div class="row">
    <div class="col-lg-8  col-lg-offset-2 col-sm-12">
    
      {%for item in self.agents_page.all%}
        <!-- agents -->
        <div class="row">
          {% image item.agent.image max-320x200 as img %}
          <div class="col-lg-2 col-sm-2 "><a href="#"><img src="{{img.url}}" class="img-responsive" alt="agent name"></a></div>
          <div class="col-lg-7 col-sm-7 "><h4>{{item.agent.name}}</h4>{{item.agent.desc|richtext}}</div>
          <div class="col-lg-3 col-sm-3 "><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:abc@realestate.com">{{item.agent.email}}</a><br>
          <span class="glyphicon glyphicon-earphone"></span> {{item.agent.phone}}</div>
        </div>
        <!-- agents -->
        {% endfor %}
    </div>
  </div>
  
  
  </div>
  </div>
  {% endblock%}