{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8" />
<meta name="description" content="{{self.search_description}}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

 	<link rel="stylesheet" href="{% static 'front/assets/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'front/assets/style.css' %}"/>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="{% static 'front/assets/bootstrap/js/bootstrap.js' %}"></script>
  <script src="{% static 'front/assets/script.js' %}"></script>



<!-- Owl stylesheet -->
<link rel="stylesheet" href="{% static 'front/assets/owl-carousel/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'front/assets/owl-carousel/owl.theme.css' %}">
<script src="{% static 'front/assets/owl-carousel/owl.carousel.js' %}"></script>
<!-- Owl stylesheet -->


<!-- slitslider -->
    <link rel="stylesheet" type="text/css" href="{% static 'front/assets/slitslider/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'front/assets/slitslider/css/custom.css' %}" />
    <script type="text/javascript" src="{% static 'front/assets/slitslider/js/modernizr.custom.79639.js' %}"></script>
    <script type="text/javascript" src="{% static 'front/assets/slitslider/js/jquery.ba-cond.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'front/assets/slitslider/js/jquery.slitslider.js' %}"></script>
<!-- slitslider -->

<body>


    <!-- Header Starts -->
    <div class="navbar-wrapper">
    
        </div>
    <!-- #Header Starts -->
    <div class="container">
    <!-- Header Starts -->
    <div class="header">
    
 <h1 style="color:blue">Headless CMS Wagtail with API technology</h1>
    </div>
    <!-- #Header Starts -->
    </div>

        {% block content %}{% endblock %}

<div class="container">

    <h2>Get Menu</h2>
    <h4>Request: http://127.0.0.1:8000/api/graphql/</h4>
    <pre>
        query{
            menus{
                title
                link
                children{
                    title
                    link
                }
            }
        }
    </pre>
    <h4>Response</h4>
    <pre>
        {
  "data": {
    "menus": [
      {
        "title": "Home",
        "link": "/home/",
        "children": [
          {
            "title": "Contacts",
            "link": "/home/contacts/"
          },
          {
            "title": "About",
            "link": "/home/about/"
          }
        ]
      }
    ]
  }
}
    </pre>
</div>
            
            <!-- Modal -->
            <div id="loginpop" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="row">
                    <div class="col-sm-6 login">
                    <h4>Login</h4>
                      <form class="" role="form">
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputEmail2">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputPassword2">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Remember me
                      </label>
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                  </form>          
                    </div>
                    <div class="col-sm-6">
                      <h4>New User Sign Up</h4>
                      <p>Join today and get updated with all the properties deal happening around.</p>
                      <button type="submit" class="btn btn-info"  onclick="window.location.href='register.php'">Join Now</button>
                    </div>
            
                  </div>
                </div>
              </div>
            </div>
            <!-- /.modal -->

</body>
 </html>